body{
    background-color: #E7FFFF;
}
.board{
    background-color: #356388;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border: solid 8px;

    border-radius: 10px;
    border-color: #1d3549;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    
}


.board > div{
    border: solid 6px;
    border-color: #1d3549;
    border-radius: 2px;
    font-family:  Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#playerDiv{
    height: 30px;
}

#referee{
    position: absolute;
    top: 31%;
    left: 50px;
}

#playerTracker{
    border: solid 4px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #200000;
    position: absolute;
    top: 25%;
    left: 40px;
    font-size: 60px;
    font-weight: bold;
}

#divButton{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.restart{
    position: absolute;
    color: #1C1C1C;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    text-decoration: none;
    text-align: center;
    border: solid 2px;
    font-size: 40px;
    background-color: #A4D480;
    border-radius: 20px;
    border-color: #245400;
    box-shadow:0 7px #8ABA66;
}

.restart:hover{
    color: #1C1C1C;
    font-size: 40px;
    background-color: #A4D480;
    border-color: #245400;
    box-shadow:0 5px #71A14D;
    transform: translateY(2px);
}

.restart:focus{
    color: #1C1C1C;
    font-size: 40px;
    background-color: #A4D480;
    border-color: #245400;
    box-shadow: none;
    transform: translateY(7px);

}


